@use "../default" as *;
/*------------------------
    Banner Style 01  
-------------------------*/

.banner-style-1 {
    position: relative;
    padding-bottom: 150px;
    padding-top: 270px;
    @media #{$smlg-device} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$large-mobile} {
        padding-bottom: 70px;
    }
    .content-wrapper {
        position: relative;
        @media #{$smlg-device} {
            display: flex;
            flex-wrap: wrap;
        }
        .content{
            @media #{$smlg-device} {
                order: 2;
            }
        }
        .thumbnail-wrapper{
            @media #{$smlg-device} {
                order: 1;
                bottom: auto;
                margin: auto;
                margin-bottom: 55px;
            }
        }
    }

    .title {
        font-size: 96px;
        line-height: 102px;
        font-weight: 700;
        color: var(--color-heading);
        margin-top: 30px;
        margin-bottom: 30px;

        @media #{$laptop-device} {
            font-size: 80px;
            line-height: 90px;
        }

        @media #{$lg-layout} {
            font-size: 60px;
            line-height: 70px;
        }

        @media #{$mdsm-layout} {
            font-size: 44px;
            line-height: 1.4;
        }

        @media #{$large-mobile} {
            font-size: 32px;
            line-height: 1.4;
        }

        span {
            color: var(--color-primary);
        }
    }

    .thumbnail-wrapper {
        position: absolute;
        right: -80px;
        bottom: -160px;
        z-index: 1;
        @media #{$smlg-device} {
            right: auto;
            position: relative;
        }
        @media #{$md-layout} {
            position: relative;
            bottom: 0;
            margin-top: 40px;
        }
        .tmp-shape-top {
            border-radius: 50%;
            position: absolute;
            width: 150px;
            height: 150px;
            opacity: 0.6;
            filter: blur(55px);
            background: linear-gradient(147.77deg, #3E00FF 14.56%, #3E00FF 86.63%);
            mix-blend-mode: screen;
            left: -30px;
            top: 0;
            @media #{$lg-layout} {
                display: none;
            }
        }

        .tmp-siback {
            position: absolute;
            top: 5%;
            left: 2%;
            height: 100%;
            width: 100%;
            z-index: -1;
            @media #{$laptop-device} {
                left: 16%;
            }
            @media #{$sm-layout} {
                left: 0;
                top: 0;
            }
            img {
                min-width: 650px;
                @media #{$sm-layout} {
                    min-width: 100%;
                }
                @media #{$lg-layout} {
                    min-width: 100%;
                }
                @media #{$large-mobile} {
                    max-width: auto;
                    min-width: auto;
                }
            }
        }

        .tmp-sibackimage {
            position: absolute;
            bottom: 15%;
            right: -32%;
            z-index: -1;
            @media #{$mdsm-layout} {
                display: none;
            }
            @media #{$lg-layout} {
                display: none;
            }
        }
    }

    .tmp-hero-image {
        figure {
            max-width: max-content;

            @media #{$md-layout} {
                position: relative;
                left: 50%;
                transform: translate(-50%);
                bottom: -10px;
            }
        }
        .thumbnail{
            img{
                @media #{$laptop-device} {
                    height: auto;
                    width: 80%;
                    margin-left: auto;
                    margin-right: 30px;
                }
            }
        }
    }

    img {
        height: 100%;
    }

    .content {
        .description {
            max-width: 625px;

            @media #{$lg-layout} {
                max-width: 510px;
            }
        }
    }

    &.banner-bg-shape {
        background-image: url(../images/main/banner/hero-bg.svg);
        @extend %background;
        overflow: hidden;
        position: relative;

        .tmp-sbl {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}


/*------------------------
    Banner Style 02  
-------------------------*/
.banner-style-2 {
    padding-top: 165px;
    background-image: url(../images/designer/hero-shape.svg);
    @extend %background;
    overflow: hidden;
    position: relative;

    .shape {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;

        .is-1 {
            position: absolute;
            left: 5%;
            top: 5%;
            z-index: -1;

            @media #{$laptop-device} {
                left: 0;
            }

            @media #{$lg-layout} {
                display: none;
            }
        }

        .is-2 {
            position: absolute;
            right: 11%;
            bottom: 10px;
            z-index: -1;

            @media #{$lg-layout} {
                display: none;
            }
            @media #{$large-mobile} {
                display: none;
            }
        }
    }

    .content-wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        align-items: center;
        justify-content: space-between;

        @media #{$mdsm-layout} {
            flex-direction: column-reverse;
            flex-wrap: wrap;
            gap: 40px;
            align-items: center;
        }

        .banner-content {
            .subtitle {
                font-size: 36px;
            }

            .title {
                font-size: 96px;
                font-weight: 500;

                @media #{$lg-layout} {
                    font-size: 75px;
                }
                @media #{$sm-laptop} {
                    font-size: 55px;
                }

                @media #{$large-mobile} {
                    font-size: 40px;
                }

                br {
                    @media #{$large-mobile} {
                        display: none;
                    }
                }

                span{
                    color: var(--color-primary);
                }

                strong {
                    position: relative;

                    &::before {
                        position: absolute;
                        left: 0;
                        bottom: 5px;
                        content: '';
                        height: 25px;
                        width: 100%;
                        background: rgba(#93F2FF, $alpha: 0.17);
                    }
                }
            }

            .description {
                max-width: 540px;
                margin-top: 20px;
                margin-bottom: 30px;
            }

            .tmp-long-btn {
                @media #{$md-layout} {
                    margin-top: 40px !important;
                }
            }
        }

        .banner-image {
            position: relative;
            left: 50px;

            @media #{$laptop-device} {
                left: 0;
            }

            @media #{$mdsm-layout} {
                left: 0;
            }


            &-shape {
                position: absolute;
                bottom: 0;
                left: -50px;
                height: 520px;
                width: 540px;
                background-color: rgba(#161616, $alpha: 0.3);
                box-shadow: 15px 26.0229px 50px rgba(147, 242, 255, 0.04);
                backdrop-filter: blur(25px);
                border-radius: 500px 500px 5px 5px;

                @media #{$lg-layout} {
                    height: 450px;
                    width: 450px;
                }
                @media #{$large-mobile} {
                    width: 100%;
                    left: 0;
                }
            }

            &-shape-2 {
                position: absolute;
                left: -150px;
                bottom: 10%;
                height: 280px;
                width: 280px;
                border-radius: 50%;
                background: linear-gradient(360deg, rgba(147, 242, 255, 0.2) 15.49%, rgba(147, 242, 255, 0.8) 100%);
                z-index: -1;

                @media #{$laptop-device} {
                    left: -120px;
                }
            }

            &-thumb {
                position: relative;
                z-index: 1;
            }
        }
    }

}

/*------------------------
    Banner Style 03  
-------------------------*/
.banner-style-3 {
    padding-top: 40px;
    .content-wrapper {
        clip-path: polygon(100% 97.554%, 100% 2.446%, 100% 2.446%, 99.982% 2.049%, 99.93% 1.673%, 99.848% 1.322%, 99.737% 1.001%, 99.601% 0.716%, 99.442% 0.472%, 99.263% 0.273%, 99.067% 0.125%, 98.858% 0.032%, 98.636% 0%, 86.295% 0%, 86.295% 0%, 86.094% 0.016%, 85.896% 0.064%, 85.701% 0.142%, 85.512% 0.25%, 85.33% 0.387%, 85.154% 0.551%, 84.987% 0.743%, 84.83% 0.961%, 84.683% 1.205%, 84.547% 1.473%, 83.144% 4.505%, 83.144% 4.505%, 83.008% 4.773%, 82.861% 5.017%, 82.704% 5.235%, 82.536% 5.427%, 82.361% 5.592%, 82.178% 5.729%, 81.989% 5.836%, 81.795% 5.915%, 81.596% 5.962%, 81.395% 5.978%, 48.902% 5.978%, 1.364% 5.978%, 1.364% 5.978%, 1.142% 6.01%, 0.933% 6.103%, 0.737% 6.251%, 0.558% 6.45%, 0.399% 6.695%, 0.263% 6.98%, 0.152% 7.3%, 0.07% 7.651%, 0.018% 8.027%, 0% 8.424%, 0% 97.554%, 0% 97.554%, 0.018% 97.951%, 0.07% 98.327%, 0.152% 98.678%, 0.263% 98.999%, 0.399% 99.284%, 0.558% 99.528%, 0.737% 99.727%, 0.933% 99.875%, 1.142% 99.968%, 1.364% 100%, 98.636% 100%, 98.636% 100%, 98.858% 99.968%, 99.067% 99.875%, 99.263% 99.727%, 99.442% 99.528%, 99.601% 99.284%, 99.737% 98.999%, 99.848% 98.678%, 99.93% 98.327%, 99.982% 97.951%, 100% 97.554%);
        padding-top: 160px;
        padding-bottom: 70px;
        padding-left: 80px;
        padding-right: 90px;
        background-color: #10102B;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @media #{$mdsm-layout} {
            clip-path: none;
            padding: 60px;
            border-radius: 6px;

            display: flex;
            flex-direction: column;
        }

        @media #{$sm-layout} {
            padding: 30px;
        }

        @media #{$large-mobile} {
            padding: 30px 15px;
        }

        &>* {
            position: relative;
            z-index: 1;
        }

        .shape {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 20px;
            top: -20px;

            .shape-1 {
                position: absolute;
                bottom: 0;
                height: 190px;
                width: 220px;
                left: -20px;
                z-index: -1;
            }

            .shape-2 {
                position: absolute;
                bottom: 0;
                height: 150px;
                width: 150px;
                right: 35%;
                z-index: -1;
                border-radius: 50%;
                background: var(--color-primary);
                opacity: .3;
                filter: blur(25px);
            }
        }

        .title {
            font-weight: 800;
            line-height: 120%;
            color: var(--color-heading);
            margin-top: 30px;
            margin-bottom: 50px;

            @media #{$laptop-device} {
                font-size: 65px;
            }

            @media #{$lg-layout} {
                font-size: 50px;
            }
            @media #{$mdsm-layout} {
                font-size: 54px;
            }
            @media #{$sm-layout} {
                font-size: 40px;
            }
            @media #{$large-mobile} {
                font-size: 32px;
                line-height: 1.4;
            }

            br {
                @media #{$mdsm-layout} {
                    display: none;
                }
            }

            span {
                color: var(--color-primary);
            }
        }

        .banner-top-title {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;
        }


        .content{
            @media #{$mdsm-layout} {
                order: 2;
            }
        }
        .thumbnail{
            @media #{$mdsm-layout} {
                order: 1;
                margin-bottom: 35px;
            }
        }




    }
    .thumbnail {
        position: absolute;
        right: 80px;
        bottom: 0px;
        z-index: 1;
        @media #{$lg-layout} {
            right: 10px;
            bottom: -80px;
        } 
        @media #{$mdsm-layout} {
            position: relative;
            right: 0;
            margin: 0 auto;
            max-width: max-content;
        }
        .tmp-siback {
            position: absolute;
            top: 0;
            left: 8%;
            height: 100%;
            width: 100%;
            z-index: -1;
            .animated-dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: var(--color-heading);
                position: absolute;
                top: 10%;
                right: 25%;
                animation: blink 1s infinite;
            }
        }
        .tmp-sib {
            position: absolute;
            bottom: -5%;
            height: 360px;
            width: 360px;
            border-radius: 50%;
            background: var(--color-primary);
            opacity: 0.5;
            filter: blur(125px);
            z-index: -1;
            right: -15%;
        }
        .main-thumbnail {
            img {
                width: 390px;
                height: 630px;
                @media #{$large-mobile} {
                    height: auto;
                }
            }
        }
    }

}


/*------------------------
    Banner Style 04  
-------------------------*/
.banner-style-4 {
    padding: 160px 0;
    position: relative;
    @media #{$laptop-device} {
        padding: 120px 0;
    }
    @media #{$smlg-device} {
        padding: 20px 0 100px 0;
    }
    .banner-top-title {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .title {
        color: #D6DAF0;
        margin-top: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        span {
            color: var(--color-primary);
            display: inline-block;
        }
        br{
            @media #{$smlg-device} {
                display: none;
            }
        }
        @media #{$laptop-device} {
            font-size: 55px;
        }
        @media #{$smlg-device} {
            font-size: 60px;
        }
        @media #{$large-mobile} {
            font-size: 34px;
            line-height: 1.4;
            margin-bottom: 25px;
        }
    }

    
    .thumbnail {
        right: 196px;
        bottom: 35px;
        max-width: 850px;
        position: absolute;
        z-index: -1;

        @media #{$laptop-device} {
            bottom: 90px;
            right: 40px;
        }
        @media #{$smlg-device} {
            position: relative;
            top: 0;
            right: auto;
            margin-bottom: 50px;
        }
        @media #{$md-layout} {
            bottom: 0;
        }
        @media #{$lg-layout} {
            right: 0;
        }
        .shape {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 100%;
            @media #{$smlg-device} {
                position: relative;
            }
            .shape-back {
                height: 425px;
                width: 425px;
                position: absolute;
                top: 0;
                right: 20%;
                z-index: -1;
                background: #93F2FF;
                filter: blur(325px);
            }
        }
        .main-thumbnail {
            img {
                width: 620px;
                @media #{$laptop-device} {
                    width: 480px;
                }
                @media #{$smlg-device} {
                    height: auto;
                }
                @media #{$md-layout} {
                    width: 100%;
                }
    
                @media #{$lg-layout} {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}


/*------------------------
    Banner Style 05  
-------------------------*/
.banner-style-5 {
    position: relative;
    padding-top: 240px;
    padding-bottom: 240px;
    @media #{$md-layout} {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    @media #{$large-mobile} {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .intro-video {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 12px;
        .video-inner {
            height: 80px;
            width: 80px;
            max-width: max-content;
            display: flex;
            align-items: center;
        
            a {
                position: relative;
                height: 55px;
                width: 55px;
                border-radius: 50px;
                display: inline-flex;
                align-items: center;
                background-color: var(--color-white);
                color: var(--color-dark);
                justify-content: center;
        
                &::before {
                    position: absolute;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    content: '';
                    background-color: rgba(#FFFFFF, $alpha: 0.1);
                }
            }
        }
        span {
            font-size: 22px;
        }
    }

    .content-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        .banner-content {
            position: relative;
            &.shape {
                background-image: url(../images/ui/banner-bg.svg);
                height: 270px;
                background-repeat: no-repeat;
                position: absolute;
                top: -20%;
                width: 370px;
                left: -20%;
        
                @media #{$large-mobile} {
                    display: none;
                }
            }
            .title {
                font-weight: 600;
                font-size: 55px;
                position: relative;
                z-index: 9;
        
                @media #{$lg-layout} {
                    font-size: 50px;
                    line-height: 60px;
                }
        
                @media #{$large-mobile} {
                    font-size: 34px;
                    line-height: 55px;
                }
        
                span {
                    color: var(--color-primary);
                }
            }
            .description {
                margin-top: 20px;
                max-width: 550px;
                @media #{$lg-layout} {
                    max-width: 420px;
                }
            }
            .btn-group{
                .tmp-btn{
                    &:hover{
                        box-shadow: none !important;
                    }
                }
            }
        }
    }

    
    .thumbnail-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        @media #{$mdsm-layout} {
            width: 100%;
            z-index: -1;
        }
        .image-slider {
            height: 100%;
            width: 100%;
        }
    
        .thumbnail {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
    .tmp-arrow-control {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        z-index: 99;
        position: relative;
        top: 30px;
    
        .tmp-next,
        .tmp-prev {
            height: 65px;
            width: 65px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1.5px solid rgba(#fff, $alpha: 0.1);
            transition: var(--trans);
            font-size: 20px;
    
            &:hover {
                background-color: var(--color-primary);
    
                i {
                    color: var(--color-dark);
                }
            }
        }
    }
    
}

/*------------------------
    Banner Style 06  
-------------------------*/

.banner-style-6 {
    padding-top: 90px;
    @media #{$large-mobile} {
        padding-top: 30px;
    }
    .content-wrapper {
        clip-path: polygon(100% 97.554%, 100% 2.446%, 100% 2.446%, 99.982% 2.049%, 99.93% 1.673%, 99.848% 1.322%, 99.737% 1.001%, 99.601% 0.716%, 99.442% 0.472%, 99.263% 0.273%, 99.067% 0.125%, 98.858% 0.032%, 98.636% 0%, 86.295% 0%, 86.295% 0%, 86.094% 0.016%, 85.896% 0.064%, 85.701% 0.142%, 85.512% 0.25%, 85.33% 0.387%, 85.154% 0.551%, 84.987% 0.743%, 84.83% 0.961%, 84.683% 1.205%, 84.547% 1.473%, 83.144% 4.505%, 83.144% 4.505%, 83.008% 4.773%, 82.861% 5.017%, 82.704% 5.235%, 82.536% 5.427%, 82.361% 5.592%, 82.178% 5.729%, 81.989% 5.836%, 81.795% 5.915%, 81.596% 5.962%, 81.395% 5.978%, 48.902% 5.978%, 1.364% 5.978%, 1.364% 5.978%, 1.142% 6.01%, 0.933% 6.103%, 0.737% 6.251%, 0.558% 6.45%, 0.399% 6.695%, 0.263% 6.98%, 0.152% 7.3%, 0.07% 7.651%, 0.018% 8.027%, 0% 8.424%, 0% 97.554%, 0% 97.554%, 0.018% 97.951%, 0.07% 98.327%, 0.152% 98.678%, 0.263% 98.999%, 0.399% 99.284%, 0.558% 99.528%, 0.737% 99.727%, 0.933% 99.875%, 1.142% 99.968%, 1.364% 100%, 98.636% 100%, 98.636% 100%, 98.858% 99.968%, 99.067% 99.875%, 99.263% 99.727%, 99.442% 99.528%, 99.601% 99.284%, 99.737% 98.999%, 99.848% 98.678%, 99.93% 98.327%, 99.982% 97.951%, 100% 97.554%);
        padding-top: 160px;
        padding-bottom: 70px;
        padding-left: 80px;
        padding-right: 90px;
        background-color: #10102B;
        position: relative;
        overflow: hidden;
        z-index: 1;
    
        @media #{$mdsm-layout} {
            clip-path: none;
            padding: 60px;
            display: flex;
            flex-direction: column;
            border-radius: 6px;

        }
    
        @media #{$sm-layout} {
            padding: 30px;
        }
    
        &>* {
            position: relative;
            z-index: 1;
        }
    
        .shape {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            @media #{$mdsm-layout} {
                border-radius: 6px;
            }
            .shape-1 {
                position: absolute;
                bottom: 0;
                height: 190px;
                width: 220px;
                left: 0;
                z-index: -1;
            }
    
            .shape-2 {
                position: absolute;
                bottom: 35px;
                height: 247px;
                width: 247px;
                right: 38%;
                z-index: -1;
                opacity: .1;
            }
    
            .shape-3 {
                position: absolute;
                bottom: 0;
                height: 150px;
                width: 150px;
                right: 35%;
                z-index: -1;
                border-radius: 50%;
                background: linear-gradient(147.77deg, #FF9A50 14.56%, #FF9A50 86.63%);
                opacity: .3;
                filter: blur(25px);
            }
        }


        .title {
            font-weight: 800;
            line-height: 120%;
            color: var(--color-white);
            margin-top: 30px;
            margin-bottom: 50px;
        
            @media #{$laptop-device} {
                font-size: 65px;
            }
        
            @media #{$lg-layout} {
                font-size: 50px;
            }
            @media #{$mdsm-layout} {
                font-size: 54px;
            }
        
            @media #{$sm-layout} {
                font-size: 40px;
            }
            @media #{$large-mobile} {
                font-size: 32px;
                line-height: 1.4;
            }
        
            br {
                @media #{$lg-layout} {
                    display: none;
                }
            }
        
            span {
                color: var(--tmp-tec);
            }
        }

    }
    
    .content{
        @media #{$mdsm-layout} {
            order: 2;
        }
    }

    .thumbnail {
        position: absolute;
        right: 80px;
        bottom: 0px;
        z-index: 1;
        @media #{$lg-layout} {
            right: 10px;
            bottom: -80px;
        } 
        @media #{$mdsm-layout} {
            position: relative;
            right: 0;
            margin: 0 auto;
            max-width: max-content;
            order: 1;
        }
        .tmp-siback {
            position: absolute;
            top: 0;
            left: 8%;
            height: 100%;
            width: 100%;
            z-index: -1;
            .animated-dot {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: var(--color-heading);
                position: absolute;
                top: 10%;
                right: 25%;
                animation: blink 1s infinite;
            }
        }
        .tmp-sib {
            position: absolute;
            bottom: -5%;
            height: 360px;
            width: 360px;
            border-radius: 50%;
            background: var(--color-primary);
            opacity: 0.5;
            filter: blur(125px);
            z-index: -1;
            right: -15%;
        }
        .main-thumbnail {
            img {
                width: 390px;
                height: 630px;
                @media #{$large-mobile} {
                    height: auto;
                }
            }
        }
    }
    
}

.banner-style-5{
    .tmp-marque-text {
        left: 0%;
    }
    .marquee{
        left: 0%;
    }
}

.slider-gird{
    position: relative;
    .grid-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        div {
            background-color: var(--color-white);
            width: 100%;
            height: 100%;
            transition: opacity 0.6s ease-in-out;
        }
    }
    .swiper-slide-active .grid-mask div {
        opacity: 0;
    }
}


/*------------------------
    Banner Style 07  
-------------------------*/
.banner-style-7 {
    position: relative;
    padding-top: 70px;
    z-index: 1;
    @media #{$mdsm-layout} {
        padding-bottom: 100px;
    }
    .shape-1 {
        position: absolute;
        left: 0;
        top: 15px;
        z-index: -1;

        @media #{$mdsm-layout} {
            display: none;
        }
    }
    .shape-1 {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.4;

        @media #{$large-mobile} {
            display: none;
        }
    }
    .shape-2{
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        z-index: -1;
    }

    .banner-content {
        display: flex;
        align-items: center;
    
        @media #{$mdsm-layout} {
            flex-wrap: wrap;
        }
        .left-content {
            min-width: 580px;
            position: relative;
            left: -200px;
            @media #{$laptop-device} {
                left: -100px;
                z-index: -1;
            }
            @media #{$smlg-device} {
                min-width: auto;
            }
            @media #{$mdsm-layout} {
                left: 0;
            }
            @media #{$sm-layout} {
                min-width: 100%;
            }
            .content-bg {
                position: absolute;
                z-index: -1;
                bottom: 0;
                img {
                    @media #{$laptop-device} {
                        height: 550px;
                    }
                }
            }

            .content-image {
                position: relative;
                z-index: 1;
    
                img {
                    height: auto;
                    position: relative;
                    left: 50px;
                    max-width: 508px;
                    @media #{$laptop-device} {
                        height: 600px;
                    }
    
                    @media #{$sm-layout} {
                        left: 0;
                        max-width: 100%;
                    }
    
                    @media #{$large-mobile} {
                        height: 100%;
                    }
                }
            }

            .content-image-overlay {
                position: absolute;
                width: 100%;
                height: 300px;
                background: linear-gradient(180deg, rgba(26, 23, 55, 0) -3.22%, #090925 91.59%);
                border-radius: 0px 0px 10px 10px;
                bottom: 0;
                z-index: 1;
            }



        }

        .right-content {
            position: relative;
            left: -150px;
            min-width: 830px;
            @media #{$laptop-device} {
                min-width: 100%;
            }
            @media #{$mdsm-layout} {
                left: 0px;
                padding-top: 50px;
                min-width: 100%;
            }
            .bigtext {
                font-size: 250px;
                font-weight: 800;
                position: absolute;
                left: -100px;
                z-index: -1;
                color: rgba(#17203B, $alpha: 0.22);
                @media #{$laptop-device} {
                    font-size: 150px;
                    left: -80px;
                }
                @media #{$lg-layout} {
                    font-size: 100px;
                    left: -50px;
                }
                @media #{$mdsm-layout} {
                    font-size: 150px;
                    left: -0px;
                }
                @media #{$sm-layout} {
                    font-size: 100px;
                    left: -50px;
                }
            }
        
            .tmp-social.photography{
                a{
                    &:hover{
                        i{
                            color: var(--color-dark);
                        }
                    }
                }
            }
            .title {
                font-size: 90px;
                font-weight: 700;
                color: var(--color-white);
                font-family: var(--font-secondary);
        
                @media #{$laptop-device} {
                    font-size: 75px;
                }
                @media #{$lg-layout} {
                    font-size: 60px;
                }
                @media #{$mdsm-layout} {
                    font-size: 70px;
                }
                @media #{$sm-layout} {
                    font-size: 50px;
                }
                @media #{$large-mobile} {
                    font-size: 40px;
                }
                br {
                    @media #{$large-mobile} {
                        display: none;
                    }
                }
                span {
                    -webkit-text-stroke: 1px var(--color-white);
                    color: transparent;
                    position: relative;
                    font-family: var(--font-primary);
                    &::before {
                        position: absolute;
                        bottom: 0;
                        left: 10%;
                        content: '';
                        height: 60%;
                        width: 80%;
                        opacity: .15;
                        background: #93F2FF;
                        filter: blur(25px);
                    }
                }
            }
        }
        .social-wrapper {
            margin-top: 70px;
            display: flex;
            gap: 70px;
            align-items: center;
            @media #{$lg-layout} {
                gap: 50px;
            }
            @media #{$mdsm-layout} {
                gap: 30px;
                margin-top: 40px;
                flex-wrap: wrap;
            }
        }
    }
}

.writer-demo{
    .marque-section-bg {
        background-color: rgba(255, 255, 255, 0.05);
        padding: 40px 0 40px 0;
    }
}
.photography-image-wrapper {
    background-image: url(../images/photography/slider/slider-bg.svg);
    height: 730px;
    @extend %background;
    transition: var(--trans);
    @media #{$laptop-device} {
        height: 650px;
    }
    @media #{$lg-layout} {
        background-image: unset;
        height: auto;
    }
    @media #{$smlg-device} {
        height: auto;
    }
    .tmp-slider-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-left: 0%;
        top: -100px;
        @media #{$laptop-device} {
            top: -50px;
            width: 100%;
        }
    
        @media #{$smlg-device} {
            top: 0;
            width: 100%;
            margin-left: 0%;
        }
    
        @media #{$md-layout} {
            width: 100%;
            margin-left: 0;
            margin: 0 30px;
        }
    
        .single-slider-item {
            img {
                max-width: 100%;
                border-radius: 5px;
                border: 1px solid rgba(#FFFFFF, $alpha: 0.1);
            }
        }
    }
}

.tmp-slider-navigation {
    position: absolute;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 6%;
    max-width: max-content;
    z-index: 1;

    @media #{$laptop-device} {
        left: 22%;
    }

    @media #{$lg-layout} {
        left: 1%;
    }

    @media #{$md-layout} {
        display: none;
        left: 0;
    }

    .tmp-navigation {
        display: grid;
        place-items: center;
        height: 60px;
        min-width: 60px;
        border-radius: 50%;
        cursor: pointer;
        max-width: max-content;
        border: 1px solid rgba(#FFFFFF, $alpha: 0.1);
        position: relative;
        z-index: 1;
        &::after{
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            background: var(--color-primary);
            transform: translate(-50%, -50%) scale(.2);
            opacity: 0;
            border-radius: 50%;
            z-index: -1;
            transition: .3s;
        }
        i {
            font-size: 20px;
        }

        transition: var(--trans);

        &:hover {
            color: var(--color-dark);
            &::after{
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }
        }
    }
}



/*------------------------
    Banner Style 08  
-------------------------*/
.banner-style-8 {
    position: relative;
    height: 950px;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media #{$lg-layout} {
        height: 750px;
    }
    @media #{$md-layout} {
        height: 650px;
    }
    @media #{$sm-layout} {
        height: 550px;
    }
    .model-hero-top {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    .thumbnail {
        position: absolute;
        left: 25%;
        top: 0;
        z-index: -1;
        height: 100%;
        max-width: 80%;
        overflow: hidden;
        width: 100%;
        @media #{$laptop-device} {
            left: 22%;
        }
        @media #{$smlg-device} {
            left: 0;
            max-width: 100%;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        .title {
            font-size: 100px;
            font-weight: 700;
            text-rendering: auto;
            text-transform: uppercase;
            margin-bottom: 30px;
    
            @media #{$lg-layout} {
                font-size: 75px;
            }
    
            @media #{$md-layout} {
                font-size: 60px;
            }
    
            @media #{$sm-layout} {
                font-size: 45px;
            }
    
            br {
                @media #{$lg-layout} {
                    display: none;
                }
            }
        }
    }

    .shape-wrapper {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    
        @media #{$md-layout} {
            display: none;
        }
    
        .shape-1 {
            position: absolute;
            left: 0;
            bottom: -10%;
            max-height: max-content;
        }
    
        .shape-2 {
            position: absolute;
            right: 0;
            bottom: 150px;
        }
    }

    .model-hero-slider {
        overflow: hidden;
        padding-top: 100px;
    
        @media #{$md-layout} {
            margin-top: 0;
        }
    
        @media #{$large-mobile} {
            margin-top: 50px;
        }
    }
}

.model-hero-slider {
    .swiper-slide-active {
        .tmp-model-content {
            h1 {
                animation: fadeInUp 1s ease-in-out;
            }

            .model-social {
                animation: fadeInUp 1.5s ease-in-out;
            }
        }
    }
}

.tmp-model-slider-pagination {
    width: 130%;
    position: relative;
    left: -15%;
    display: flex;
    justify-content: space-between;
    top: -50%;
    z-index: 20;
    @media #{$laptop-device} {
        left: 0%;
        width: 100%;
    }
    @media #{$smlg-device} {
        width: 100%;
        left: -0%;
    }
    @media #{$large-mobile} {
        display: none;
    }

    .tmp-navigation {
        cursor: pointer;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: grid;
        place-items: center;
        border: 1px solid rgba(#EEEEEE, $alpha: 0.2);

        i {
            font-size: 20px;
        }

        transition: var(--trans);

        &:hover {
            background-color: var(--color-primary);
            border-color: var(--color-primary);

            i {
                color: var(--color-dark);
            }
        }
    }
}

/*------------------------
    Banner Style 09  
-------------------------*/
.banner-style-9 {
    padding-top: 135px;
    overflow: hidden;
    @media #{$mdsm-layout} {
        padding-bottom: 135px;
    }
    @media #{$sm-layout} {
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 90px;
    }

    .shape {
        @media #{$large-mobile} {
            display: none;
        }
        .shape-1 {
            height: 610px;
            width: 610px;
            border-radius: 50%;
            background: linear-gradient(121.28deg, #2D274E 14.06%, #000000 86.11%);
            opacity: 0.2;
            position: absolute;
            top: 30px;
            left: 45px;
            z-index: -1;
    
            @media #{$md-layout} {
                top: 190px;
                left: 70px;
            }
    
        }
    
        .shape-2 {
            position: absolute;
            right: 5%;
            animation: spin 10s linear infinite;
    
            @media #{$md-layout} {
                display: none;
            }
        }
    }

    .banner-content {
        @media #{$mdsm-layout} {
            margin-top: 35px;
        }
        .subtitle {
            background: #D9D9D90D;
            border: 1px solid var(--color-border);
            padding: 3px 16px;
            border-radius: 25px;
            font-weight: 600;
            display: block;
            max-width: max-content;
            margin-bottom: 30px;
        }
        .title {
            font-weight: 700;
            font-size: 72px;
    
            @media #{$laptop-device} {
                font-size: 60px;
            }
    
            @media #{$lg-layout} {
                font-size: 50px;
            }
            @media #{$sm-layout} {
                font-size: 50px;
            }
    
            @media #{$large-mobile} {
                font-size: 40px;
            }
    
            span {
                color: var(--color-primary);
            }
        }
    
        .description {
            font-size: 18px;
    
            br {
                @media #{$mdsm-layout} {
                    display: none;
                    font-size: 16px;
                }
            }
        }
    }

    .thumbnail-wrapper {
        margin-left: 40px;
        position: relative;
        margin-bottom: -50px;
        margin-top: -50px;
        bottom: 50px;
        @media #{$laptop-device} {
            margin-left: 55px;
            margin-bottom: -110px;
        }
        @media #{$smlg-device} {
            margin-left: 0;
        }
        @media #{$md-layout} {
            margin-left: 0;
            margin-bottom: 0;
            bottom: 70px;
        }
        .thumbnail {
            width: 620px;
            @media #{$laptop-device} {
                width: 480px;
            }
            @media #{$mdsm-layout} {
                width: 100%;
            }
            img {
                @media #{$md-layout} {
                    height: 100%;
                }
            }
        }
        .badge-title {
            max-width: max-content;
            position: absolute;
            top: 23%;
            left: -23%;
            animation: leftRight 5s linear infinite;
    
            @media #{$md-layout} {
                left: -5%;
            }
    
            @media #{$large-mobile} {
                display: none;
            }
    
            span {
                padding: 13px 25px;
                background: #272242;
                color: var(--color-white);
                border-radius: 5px;
                position: relative;
    
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -26px;
                    left: 80px;
                    width: 0;
                    height: 0;
                    border-top: 26px solid #272242;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                }
            }
        }
    }

    .tmp-marque-animation{
        @media #{$mdsm-layout} {
            display: none;
        }
    }
}

.mb_mdsm--30{
    @media #{$mdsm-layout} {
        margin-bottom: 30px;
    }
}
/*------------------------
    Banner Style 10
-------------------------*/

.freelancer-demo{
    .tmp-pricing-card-feature::before {
        border-left: 30px solid #161630;
        border-right: 0 solid #161630;
        border-top: 30px solid #161630;
    }
}

.banner-style-10 {
    position: relative;
    padding-bottom: 150px;
    padding-top: 220px;
    z-index: 1;
    .tmp-social-default a {
        height: 60px;
        width: 60px;
    }
    @media #{$mdsm-layout} {
        padding-bottom: 60px;
        padding-top: 130px;
    }
    .shape {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: -1;
        @media only screen and (min-width: 1920px) {
            display: none;
        }
        .tmp-sbl{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .content {
        .title {
            font-size: 96px;
            line-height: 102px;
            font-weight: 700;
            color: var(--color-heading);
            margin-top: 30px;
            margin-bottom: 30px;
            
        
            @media #{$laptop-device} {
                font-size: 80px;
                line-height: 90px;
            }
            @media #{$smlg-device} {
                font-size: 65px;
                line-height: 1.4;
            }
            @media #{$lg-layout} {
                font-size: 60px;
                line-height: 70px;
            }
            @media #{$sm-layout} {
                font-size: 64px;
                line-height: 1.4;
            }
    
            @media #{$large-mobile} {
                font-size: 45px;
                line-height: 1.4;
            }
    
            span {
                color: var(--color-primary);
            }
        }
        .description {
            max-width: 625px;
            margin-bottom: 15px;
            font-size: var(--p);
            @media #{$lg-layout} {
                max-width: 510px;
            }
        }
    
    }
    .thumbnail-wrapper {
        @media #{$md-layout} {
            position: relative;
            right: 0;
            bottom: 0;
        }
        .banner-icon-shape {
            .plus-1 {
                font-size: 70px;
                max-width: max-content;
                position: absolute;
                left: 66%;
                top: 20%;
                font-weight: 500;
                animation: gelatine 1s linear infinite;
            }
            .plus-2 {
                font-size: 40px;
                max-width: max-content;
                position: absolute;
                left: 54%;
                top: 25%;
                font-weight: 500;
                animation: gelatine 2s linear infinite;
            }
        }
        .thumbnail {
            z-index: 1;
            max-width: 581px;
            position: relative;
            left: auto;
            margin-right: -30px;
            @media #{$mdsm-layout} {
                margin: auto;
                margin-right: auto;
            }
            img {
                width: 100%;
                @media #{$lg-layout} {
                    height: 100%;
                }
            }
            &::before {
                height: 100%;
                width: 250px;
                content: "";
                background: #93F2FF;
                position: absolute;
                filter: blur(325px);
                z-index: -1;
            }
        }
        .banner-shape {
            position: absolute;
            bottom: -10%;
            left: -55%;
            opacity: .15;
            z-index: -1;
            @media #{$lg-layout} {
                display: none;
            }
        }
    }





}








@keyframes leftRight {
    0% {
        transform: translateX(0);
        /* Start at the center */
    }

    50% {
        transform: translateX(50px);
        /* Move to the right */
    }

    100% {
        transform: translateX(0);
        /* Return to the center */
    }
}

.tmp-marque-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden; // hide the overflow
    z-index: -1;
    white-space: nowrap; // prevent wrapping
    height: 221px;
}

.tmp-marque-text {
    display: flex;
    white-space: nowrap;
    height: 100%;
    span {
        font-weight: 700;
        font-size: 180px;
        font-family: var(--font-primary);
        -webkit-text-stroke: 2px rgba(#D7D9FF, 0.1); // use correct RGBA format
        -webkit-text-fill-color: transparent;
        line-height: 1;
        padding-right: 50px; // spacing between spans

        @media #{$laptop-device} {
            font-size: 125px;
        }

        @media #{$lg-layout} {
            font-size: 110px;
        }

        @media #{$md-layout} {
            font-size: 85px;
        }
    }
}

/* Keyframes for continuous scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


// marque section
.marque-section-bg {
    &.is-ui {
        background-color: inherit;
    }
}

.tmp-marque-text {
    display: flex;
    align-items: center;
    gap: 60px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    overflow: hidden;
    left: 30%;

    span {
        font-size: 250px;
        font-weight: 700;
        font-family: var(--font-primary);
        white-space: nowrap;
        -webkit-text-stroke: 1px rgba(#fff, $alpha: 0.1);
        -webkit-text-fill-color: rgba(#818181, $alpha: 0.05);
        line-height: 200px;
        animation: scroll 15s linear infinite;
        @media #{$laptop-device} {
            font-size: 125px;
            line-height: 150px;
        }

        @media #{$large-mobile} {
            font-size: 60px;
            line-height: 100px;
        }
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    height: 170px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 40%;
    @media #{$smlg-device} {
        height: 80px;
    }
    @media #{$md-layout} {
        left: 0;
    }
}

.tmp-marque-text {
    display: inline-flex;
}

.tmp-marquee-text {
    span {
        display: inline-block;
        padding-left: 100%;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.banner-style-content-writer{
    .tmp-hero-wrapper{
        &.hero-writer{
            @media #{$smlg-device} {
                display: flex;
                flex-direction: column;
            }
            @media #{$large-mobile} {
                flex-direction: column-reverse;
            }
        }
        .content{
            max-width: 63%;
            @media #{$smlg-device} {
                max-width: 100%;
            }
        }
    }
}






.swiper-bottom-all-wrapper-photographer{
    position: relative;
    display: block;
    max-width: 62%;
    margin-left: auto;
    @media #{$smlg-device} {
        max-width: 100%;
    }
    .tmp-slider-navigation{
        position: absolute;
        left: -83px;
        bottom: 0;
        top: 0;
    }
}
.bg_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg_actor--3{
    background-image: url(../images/actor/bg/03.webp);
}
.inv-banner-actor{
    min-height: 950px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    @media #{$smlg-device} {
        min-height: 750px;
    }
    @media #{$sm-laptop} {
        min-height: 650px;
    }
    .banner-actor-content{
        text-align: center;
        max-width: 80%;
        margin: auto;
        .title{
            font-size: 160px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
            margin-bottom: 0;
            color: #fff;
            @media #{$extra-device} {
                font-size: 140px;
            }
            @media #{$laptop-device} {
                font-size: 100px;
            }
            @media #{$smlg-device} {
                font-size: 80px;
            }
            @media #{$mdsm-layout} {
                font-size: 60px;
            }
        }
        p.disc{
            font-size: 22px;
            text-transform: uppercase;
            color: #fff;
            @media #{$sm-laptop} {
                font-size: 18px;
                margin-top: 25px;
            }
        }
    }
}

.developer-banner{
    .thumbnail{
        .main-thumbnail{
            img{
                width: auto;
                height: 630px;
                @media #{$large-mobile} {
                    height: auto;
                }
            }
        }
    }
}

.demo-teacher{
    &.demo-clip-none .tmp-skill-full{
        padding: 25px 20px;
    }
}

.color-white{
    color: var(--color-white) !important;
}
.color-heading{
    color: var(--color-heading) !important;
}