@use "../default" as *;

.pricing-section-bg {
    background-color: #161630;
}

.tmp-pricing-section-shape {
    position: absolute;
    bottom: -150px;
    right: -200px;
    width: 460px;
    height: 460px;
    border-radius: 50%;
    background: linear-gradient(134.57deg, rgba(3, 3, 6, 0.4) 16.81%, rgba(43, 37, 73, 0.4) 85.71%);
    opacity: 0.5;
    @media #{$md-layout}{
        display: none;
    }

}

.tmp-pricing-card {
    position: relative;
    overflow: hidden;
    z-index: 1;
    &-shape {
        position: absolute;
        width: 250px;
        height: 20px;
        background: var(--color-primary);
        filter: blur(50px);
        border-radius: 50%;
        top: 32%;
        left: 10%;
        opacity: 0;
        transition: var(--trans);
        z-index: -1;
    }

    &:hover {
        .tmp-pricing-card-shape {
            opacity: 1;
        }

        .tmp-pricing-btn {
            background: var(--color-primary);
            color: var(--color-dark);
        }
    }
    &.active-pricing{
                .tmp-pricing-card-shape {
            opacity: 1;
        }

        .tmp-pricing-btn {
            background: var(--color-primary);
            color: var(--color-dark);
        }
    }

    &-box {
        border: 2px solid var(--color-border);
        border-radius: 10px;
        padding: 40px 30px 40px 30px;
        background: rgba(147, 242, 255, 0.02);
        backdrop-filter: blur(5px);
        @media #{$lg-layout} {
            padding: 40px 25px 50px 25px;
        }

        h5 {
            font-weight: 700;
        }

        h1 {
            font-size: 64px;
            line-height: 1;
            margin-top: 25px;
            font-weight: 600;
            color: var(--color-body);
            margin-bottom: 0;

            @media #{$lg-layout} {
                font-size: 50px;
            }

            @media #{$md-layout} {
                font-size: 40px;
            }
        }

        .tmp-pricing-btn {
            width: 100%;
            border: 2px solid var(--color-border);
            padding: 18px 0;
            border-radius: 10px;
            color: var(--color-primary);
            font-weight: 700;
            font-family: var(--font-primary);
        }
        .tmp-btn{
            border-radius: 10px;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: 600;
        }
    }

    &-feature {
        position: absolute;
        height: 40px;
        width: 165px;
        max-width: 165px;
        background-color: var(--color-primary);
        color: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        right: -46px;
        top: 17px;
        border-top-right-radius: 10px;
        font-weight: 500;
        z-index: 10;
        transform: rotate(45deg);
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 30px solid #090925;
            border-right: 0 solid #090925;
            border-top: 30px solid #090925;
            left: 0;
            top: 5px;
            transform: translate(-50%) rotate(45deg);
        }
    }

}

.tmp-list {
    li {
        display: flex;
        gap: 10px;
        align-items: center;

        i {
            color: var(--color-primary);
        }
    }
}

// freelancer pricing
.freelancer-pricing-bg {
    margin: 0 50px;
    overflow: hidden;
    border-radius: 20px;
    background-image: url(../images/freelancer/pricing-bg.svg);
    @extend %background;

    @media #{$laptop-device} {
        margin: 0 20px;
    }
    @media #{$smlg-device} {
        margin: 0;
        border-radius: 0;
    }

    .section-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: none;
        .shape-one {
            @media #{$laptop-device} {
                top: -12%;
                left: -12%;
                height: 360px;
                width: 360px;
            }

            @media #{$lg-layout} {
                display: none;
            }

            position: absolute;
            top: -10%;
            left: -10%;
            height: 460px;
            width: 460px;
            border-radius: 50%;
            background: linear-gradient(134.57deg, rgba(3, 3, 6, 0.7) 16.81%, rgba(43, 37, 73, 0.7) 85.71%);
        }
    }
}



/*===============================
  Price Plan Card
  ===============================*/
.price-plan-card {
    border-radius: 10px;
    background: var(--color-gray-2);
    padding: 25px;
    position: relative;
    overflow: hidden;

    @media (min-width: 576px) {
        padding: 40px;
    }

    // &.blur-style-one,
    // &.blur-style-two,
    // &.blur-style-three {
    //     &::before {
    //         transition: all 0.4s ease;
    //         content: " ";
    //         position: absolute;
    //         bottom: -313px;
    //         right: -407px;
    //         width: 474px;
    //         height: 474px;
    //         border-radius: 100%;
    //         filter: blur(227px);
    //         opacity: 0;
    //     }
    // }

    // &:hover {
    //     &.blur-style-one {
    //         &::before {
    //             background: var(--color-primary);
    //             opacity: 1;
    //         }
    //     }
     
    // }
    &.active{
        &.blur-style-one {
            &::before {
                background: var(--color-primary);
                opacity: 1;
            }
        }
    }

    &.v2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .price-plan-card-icon {
            margin-bottom: 33px;
        }
        .check-box {
            border-top: none;
            padding-bottom: 40px;
            border-bottom: 2px solid var(--color-border);
            margin-bottom: 40px;
            padding-top: 28px;
            @media #{$sm-layout} {
                margin-bottom: 20px;
                padding-top: 16px;
            }
        }
    }

    .popular-tag {
        position: absolute;
        top: 0;
        right: 0;
    }

    .price-sub-title {
        color: var(--color-heading);
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
    }

    .main-price {
        color: var(--color-heading);
        font-family: var(--font-primary);
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    .per-month {
        color: var(--color-heading);
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 28px;
        @media #{$sm-layout} {
            margin-bottom: 14px;
        }
    }
}


#form-messages{
    &.error{
        color: var(--color-danger);
    }
    &.success{
        color: var(--color-success);
    }
}
/*===============================
  Check Box
  ===============================*/
.check-box {
    border-top: 2px solid #9d9dff0d;
    padding-top: 43px;
    padding-bottom: 30px;
    @media (min-width: 992px) {
        padding-bottom: 40px;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 0 0 15px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .check-box-item {
        display: flex;
        align-items: center;
        gap: 10px;
        .box-icon {
            color: var(--color-primary);
        }
        .box-para {
            color: var(--color-gray);
            font-family: var(--font-secondary);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.demo-actor{
    .tmp-pricing-card-box {
        border: 2px solid transparent;
        background: #0f132e;
    }
    .blog-style-4 .content {
        border: 1px solid transparent;
        background: #0f132e;
    }
    .tmp-contact-info.variation-2,
    .contact-form-style-1.variation-4,
    .testimonial-style-2,
    .tmp-client-card {
        background-color: #0f132e;
        border: 2px solid transparent;
    }

}


.home-designer{
    .price-plan-card {
        background: #0f132e;
    }
    .check-box .check-box-item .box-para {
        color: var(--color-body);
    }
}