@use "../default" as *;

// section title
.tmp-section-content {
    &.is-writer {
        .tmp-section-title {
            span {
                text-align: center;
                max-width: max-content;
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-image: url();
                    left: 0;
                    top: 12px;
                    z-index: -1;
                }
            }
        }
    }
}


.tmp-section-title {
    text-transform: capitalize;
    @media #{$sm-layout} {
        font-size: 32px;
    }
}
.tmp-fsb {
    position: relative;
    max-width: max-content;
    height: 30px;
    display: flex;
    align-items: center;
    .border-left,
    .border-right {
        position: absolute;
        content: '';
    }
    .border-left {
        height: 30px;
        width: 7px;
        background-image: url(../images/shape/left-border.svg);
        left: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .border-right {
        height: 30px;
        width: 7px;
        background-image: url(../images/shape/right-border.svg);
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .subtitle {
        margin-bottom: 0;
        font-weight: 700;
        color: var(--color-primary);
        padding: 0 15px;
    }
}

/*-----------------------------
    Four Side Border Style  
-------------------------------*/

.tmp-four-side-border {
    position: relative;
    position: relative;
    background-color: transparent;
    border: 2px solid var(--color-border);
    border-radius: 0;
    // padding: 60px 48px;
    height: 100%;
    @media #{$lg-layout} {
        padding: 40px 35px;
    }
    @media #{$smlg-device} {
        padding: 20px;
        height: 100%;
    }
    @media #{$sm-layout} {
        padding: 25px;
    }
    @media #{$large-mobile} {
        padding: 10px;
    }
    &.border-gap-40 {
        padding: 40px;
        @media #{$sm-layout} {
            padding: 25px;
        }
        @media #{$large-mobile} {
            padding: 20px;
        }
        .title{
            @media #{$sm-layout} {
                font-size: 24px;
            }
            @media #{$large-mobile} {
                font-size: 18px;
            }
        }
    }
    .tmp-left {
        position: absolute;
        inset-inline-start: -1px;
        inset-block-start: 0;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: var(--color-primary);
            inset-inline-end: -2px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            background: var(--color-primary);
            inset-block-end: 0px;
            inset-inline-start: 0px;
        }
    }

    .tmp-right {
        position: absolute;
        inset-block-start: -2px;
        inset-inline-end: 0;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: var(--color-primary);
        }

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            inset-inline-end: -1px;
            background: var(--color-primary);
        }
    }

    .tmp-bottom {
        position: absolute;
        inset-inline-start: -2px;
        inset-block-end: 0;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: var(--color-primary);
            inset-block-end: -1px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            background: var(--color-primary);
        }
    }

    .tmp-bottom-right {
        position: absolute;
        inset-inline-end: -1px;
        inset-block-end: -1px;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: var(--color-primary);
            inset-inline-end: -1px;
            inset-block-end: -1px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            background: var(--color-primary);
            inset-inline-end: -1px;
            inset-block-end: -1px;
        }
    }

    &.color-border-shape-secondary {
        .tmp-left,
        .tmp-right,
        .tmp-bottom,
        .tmp-bottom-right {
            &::after,
            &::before {
                background-color: var(--color-secondary);
            }
        }
    }
}